<!Doctype html>
<html>
<head>
<title>Subjects</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br>
</head>

<body>
    <div class="container my-p4">
    <h2>list of subjects</h2>
    <hr>
    <div class="form-check">
  
  <a class="form-check-label" href="{% url 'power' %}">
    Power Engineering
  </a>
  </div>
  <br>
    <div class="form-check">
  
  <a class="form-check-label" href="{% url 'DMS' %}">
    Design of mechanical systems
  </a>
  </div>
  <br>
    <div class="form-check">
  
  <a class="form-check-label" href="#">
    Industrial Engineering and Management
  </a>
  </div>
  <br>
    <div class="form-check">
  
  <a class="form-check-label" href="#">
    Renewable Energy sources
  </a>
  </div>
  <br>
    <div class="form-check">
  
  <a class="form-check-label" href="#">
    Project Management
  </a>
  </div>
  <br>
    <div class="form-check">
  
  <a class="form-check-label" href="#">
    All Subjects
  </a>
</div>

</body>

<style>
body {
  background-image: linear-gradient(to right, rgba(73,252,73,0), rgba(251,185,40,1));
}
</style>
</html>